@model Projects.Logic.Employees.Queries.GetEmployeeList.EmployeeListVm

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Employees</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css"/>
</head>
<body>
    <h1>Employees</h1>
    <ul>
        @foreach (var e in Model.Employees)
        {
            <li class="custom-list-item">
                <a asp-action="EmployeeDetails" asp-controller="Employee" asp-route-id="@e.Id">@e.FullName</a>
            </li>
        }
    </ul>

    <div class="button-container">
        <button type="button" class="base-button" onclick="location.href='@Url.Action("Index", "Home")'">Main page</button>
        <button type="button" class="base-button" onclick="location.href='@Url.Action("CreateEmployee", "Employee")'">Add</button>
    </div>
</body>
</html>