@model Projects.Presentation.Models.Employees.UpdateEmployeeDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Edit employee</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css"/>
</head>
<body>
<div class="update-container">
    <form asp-controller="Employee" asp-action="UpdateEmployee" method="post">
        @Html.AntiForgeryToken()
        <div>
            <input type="hidden" asp-for="Id"/>
        </div>
        <div>
            <label class="update-label">First name</label>
            <input class="update-input" asp-for="FirstName"/>
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label class="update-label">Middle name</label>
            <input class="update-input" asp-for="MiddleName"/>
            <span asp-validation-for="MiddleName"></span>
        </div>
        <div>
            <label class="update-label">Last name</label>
            <input class="update-input" asp-for="LastName"/>
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label class="update-label"s>Mail</label>
            <input class="update-input" type="email" asp-for="Mail"/>
            <span asp-validation-for="Mail"></span>
        </div>

        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>
</div>
</body>
</html>