@model Projects.Presentation.Models.Auth.LoginDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
<h3>Login</h3>

<form asp-controller="Auth" asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <div>
        <label>User name: </label>
        <input asp-for="UserName"/>
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label>Password: </label>
        <input type="password" asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>

    <input type="submit" value="Login"/>
</form>

</body>
</html>