@model Projects.Presentation.Models.Projects.CreateProjectStep1Dto

<form asp-action="CreateProjectStep1" asp-controller="Project" method="post">
    @Html.AntiForgeryToken()
    <div>
        <label asp-for="ProjectName">Project name: </label>
        <input asp-for="ProjectName"/>
        <span asp-validation-for="ProjectName"></span>
    </div>
    <div>
        <label asp-for="Priority">Priority: </label>
        <input asp-for="Priority"/>
        <span asp-validation-for="Priority"></span>
    </div>
    <div>
        <label asp-for="DateStart">Date start: </label>
        <input type="date" asp-for="DateStart"/>
        <span asp-validation-for="DateStart"></span>
    </div>
    <div>
        <label asp-for="DateEnd">Date end: </label>
        <input type="date" asp-for="DateEnd"/>
        <span asp-validation-for="DateEnd"></span>
    </div>

    <div>
        <input type="submit" value="Next"/>
    </div>
</form>