@model Projects.Presentation.Models.Projects.CreateProjectStep4Dto

<link rel="stylesheet" type="text/css" href="~/css/styles.css"/>

<div class="update-container">
    <form asp-action="CreateProjectStep4" asp-controller="Project" method="post">
        @Html.AntiForgeryToken()
        <div>
            <label class="update-label">Executors: </label>
            <input type="text" id="executorsNames" class="update-input"/>
            <input type="hidden" id="executorsId" asp-for="ExecutorsId"/>
            <ul id="selectedExecutors" class="custom-list"></ul>

            <script type="text/javascript">
                $(document).ready(function () {
                    const selectedExecutors = $('#selectedExecutors');

                    $('#executorsNames').autocomplete({
                        source: function (request, response){
                            $.ajax({
                                url: '/Employee/EmployeesJson/',
                                type: 'GET',
                                data: {term: request.term, role: "Employee" },
                                success: function (data){
                                    response($.map(data,  function (item) {
                                        return {label: item.value, value: item.id}
                                    }))
                                }
                            });
                        },
                        select: function (event, ui) {
                            selectedExecutors.append('<li data-id="' + ui.item.value + '">' + ui.item.label + ' <button class="base-button remove-button"> X </button></li>');
                            updateSelectedExecutorsList();
                            return false;
                        }
                    }).on('mousedown', function () {
                        $(this).autocomplete("search", " ");
                    })

                    selectedExecutors.on("click", ".remove-button", function (){
                        $(this).parent().remove();
                        updateSelectedExecutorsList();
                    })

                    function updateSelectedExecutorsList(){
                        const selectedExecutors = $("#selectedExecutors li").map(function () {
                            return $(this).data('id');
                        }).get().join(",");

                        $('#executorsId').val(selectedExecutors);
                    }

                })
            </script>
        </div>

        <div>
            <input type="submit" value="Next"/>
        </div>
    </form>
</div>