@model Projects.Presentation.Models.Projects.CreateProjectStep2Dto

<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

<div class="update-container">
    <form asp-action="CreateProjectStep2" asp-controller="Project" method="post">
        @Html.AntiForgeryToken()
        <div>
            <label asp-for="CompanyCustomer" class="update-label">Customer company: </label>
            <input asp-for="CompanyCustomer" class="update-input"/>
            <span asp-validation-for="CompanyCustomer"></span>
        </div>
        <div>
            <label asp-for="CompanyExecutor" class="update-label">Executor company: </label>
            <input asp-for="CompanyExecutor" class="update-input"/>
            <span asp-validation-for="CompanyExecutor"></span>
        </div>

        <div>
            <input type="submit" value="Next"/>
        </div>
    </form>
</div>