@model Projects.Presentation.Models.Projects.CreateProjectStep1Dto

<link rel="stylesheet" type="text/css" href="~/css/styles.css"/>

<div class="update-container">
    <form asp-action="CreateProjectStep1" asp-controller="Project" method="post">
        @Html.AntiForgeryToken()
        <div>
            <label asp-for="ProjectName" class="update-label">Project name: </label>
            <input asp-for="ProjectName" class="update-input"/>
            <span asp-validation-for="ProjectName"></span>
        </div>
        <div>
            <label asp-for="Priority" class="update-label">Priority: </label>
            <input asp-for="Priority" class="update-input"/>
            <span asp-validation-for="Priority"></span>
        </div>
        <div>
            <label asp-for="DateStart" class="update-label">Date start: </label>
            <input type="date" asp-for="DateStart" class="update-input"/>
            <span asp-validation-for="DateStart"></span>
        </div>
        <div>
            <label asp-for="DateEnd" class="update-label">Date end: </label>
            <input type="date" asp-for="DateEnd" class="update-input"/>
            <span asp-validation-for="DateEnd"></span>
        </div>

        <div>
            <input type="submit" value="Next"/>
        </div>
    </form>
</div>