@model Projects.Presentation.Models.Tasks.TasksViewModel

@if (Model.TaskList.Tasks.Any())
{
    <p><strong>Tasks:</strong></p>
    
    <table>
        <tr>
            <th>
                <a href="#" onclick="sort('TaskName')">Task name</a>
            </th>
            <th>
                <a href="#" onclick="sort('Priority')">Priority</a>
            </th>
            <th>
                <a href="#" onclick="sort('Status')">Status</a>
            </th>
        </tr>
    
        @foreach (var p in Model.TaskList.Tasks)
        {
            <tr>
                <td>
                    <a asp-action="TaskDetails" asp-controller="Task" asp-route-id="@p.Id">@p.TaskName</a>
                </td>
                <td>@p.Priority</td>
                <td>@p.Status</td>
            </tr>
        }
    </table>
}