@using Projects.Logic.Projects.Queries.FilterProjects.Filters
@model Projects.Presentation.Models.Projects.ProjectsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Projects</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
</head>
<body>
<h3>Filters</h3>

<form id="filterForm">
    <div class="block">
        <label>Date start </label>
        <input type="date" asp-for="DateStartFilter.DateFrom"/>
        <span asp-validation-for="DateStartFilter.DateFrom"></span>
    
        <label> - </label>
        <input type="date" asp-for="DateStartFilter.DateTo"/>
        <span asp-validation-for="DateStartFilter.DateTo"></span>
    </div>

    <div class="block">
        <label>Date end </label>
        <input type="date" asp-for="DateEndFilter.DateFrom"/>
        <span asp-validation-for="DateEndFilter.DateFrom"></span>

        <label> - </label>
        <input type="date" asp-for="DateEndFilter.DateTo"/>
        <span asp-validation-for="DateEndFilter.DateTo"></span>
        <input type="hidden" asp-for="DateEndFilter.DateType" value="@DateType.End"/>
    </div>
    
    <div class="block">
        <label>Priority </label>
        <input asp-for="PriorityFilter.PriorityFrom" class="form-control width50px"/>
        <span asp-validation-for="PriorityFilter.PriorityFrom"></span>
    
        <label> - </label>
        <input asp-for="PriorityFilter.PriorityTo" class="form-control width50px"/>
        <span asp-validation-for="PriorityFilter.PriorityTo"></span>
    </div>

    <input type="hidden" id="sortBy" value="" asp-for="SortBy"/>
    <input type="hidden" id="sortOrder" value="asc" asp-for="SortOrder"/>
    
    <div>
        <button type="submit" class="base-button">Apply</button>
    </div>
</form>

<h3>Projects</h3>

<div id="projectsTable" class="block">
    @await Html.PartialAsync("_ProjectTable", Model)
</div>

<button type="button" class="base-button" onclick="location.href='@Url.Action("Index", "Home")'">Main page</button>
<button type="button" class="base-button" onclick="location.href='@Url.Action("CreateProject", "Project")'">Add new</button>

<script>
    $(document).ready(function() {
        $("#filterForm").submit(function(e) {
            e.preventDefault();

            $.get('/Project/Projects', $(this).serialize(), function(data) {
                $('#projectsTable').html(data);
            });
        });

        window.sort = function(sortBy) {
            const sortBySelector = $('#sortBy');
            const sortOrderSelector = $('#sortOrder');
            const currentSortBy = sortBySelector.val();
            let sortOrder = sortOrderSelector.val();

            if (currentSortBy === sortBy) 
            {
                sortOrder = sortOrder === 'asc' ? 'desc' : 'asc';
            } 
            else 
            {
                sortOrder = 'asc';
            }

            sortBySelector.val(sortBy);
            sortOrderSelector.val(sortOrder);

            $('#filterForm').submit();
        };
    });
</script>

</body>
</html>